$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$pink-light: rgba(175, 47, 47, 0.15);

$grey-dark: rgb(74, 74, 74);
$grey-dark-smoke: rgba(74, 74, 74, 0.5);
$grey-light: rgb(222, 222, 222);
$grey-extra-light: rgba(232, 232, 232, 0.407);

$bg-color: $grey-light;
$bg-color-table: $white;


$segoe: 'Segoe UI', 'Arial', sans-serif;
$source-sans-pro: 'Source Sans Pro', verdana, sans-serif;
