.race-table__item {
  padding: 5px 20px;

  &::before {
    height: 1em;
    display: table-row;
    content: '';
  }

  &::after {
    height: 1em;
    display: table-row;
    content: '';
  }
}

.race-participant:nth-child(2n) {
  background-color: $grey-extra-light;
}

.race-table__position {
  text-align: center;
  background-color: $bg-color-table;
}

.race-sort__type {
  text-align: center;
}
